/* ======================================
	Base Element Styles
========================================= */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
}

p:last-child {
	margin-bottom: 0;
}

/* --- Layout Containers --- */

.wrapper {
	margin: 0;
}

.main-header {
	background: #3acec2;
	padding: 1em 0;
}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-footer {
	text-align: center;
	background: #d9e4ea;
	padding: .5em 0;
}

/* --- Navigation --- */

.name {
	margin: 0;
}

/* ======================================
	Media Query
========================================= */

@media (min-width: 700px) {

	.wrapper {
		min-height: calc(100vh - 73px);
	}

	.container {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}

}